<% if (title) { %>
  <h1>
    <%= title %>
  </h1>
  <% } else { res.redirect('/') } %>
    <%- messages() %>
      <% if (errors) { %>
        <ul class="notice">
          <% errors.array().forEach(error=> { %>
            <li>
              <%= error.msg %>
            </li>
            <% }) %>
        </ul>
        <% } %>
          <div class="items-container">
            <form action="/inv/update" method="post" class="form-container" id="updateForm">
              <div class="input-container">
                <label for="inv_make">Make</label>
                <input value="<%= locals.inv_make %>" type="text" name="inv_make" id="inv_make">
              </div>
              <div class="input-container">
                <label for="inv_model">Model</label>
                <input value="<%= locals.inv_model %>" type="text" name="inv_model" id="inv_model">
              </div>
              <div class="input-container">
                <label for="inv_year">Year</label>
                <input value="<%= locals.inv_year %>" type="text" name="inv_year" id="inv_year">
              </div>
              <div class="input-container">
                <label for="inv_description">Description</label>
                <input value="<%= locals.inv_description %>" type="text" name="inv_description" id="inv_description">
              </div>
              <div class="input-container">
                <label for="inv_image">Image</label>
                <input value="<%= locals.inv_image %>" type="text" name="inv_image" id="inv_image">
              </div>
              <div class="input-container">
                <label for="inv_thumbnail">Thumbnail</label>
                <input value="<%= locals.inv_thumbnail %>" type="text" name="inv_thumbnail" id="inv_thumbnail">
              </div>
              <div class="input-container">
                <label for="inv_price">Price</label>
                <input value="<%= locals.inv_price %>" type="number" name="inv_price" id="inv_price">
              </div>
              <div class="input-container">
                <label for="inv_miles">Miles</label>
                <input value="<%= locals.inv_miles %>" type="number" name="inv_miles" id="inv_miles">
              </div>
              <div class="input-container">
                <label for="inv_color">Color</label>
                <input value="<%= locals.inv_color %>" type="text" name="inv_color" id="inv_color">
              </div>
              <div class="input-container">
                <label for="classification_id">Category/Classification</label>
                <select name="classification_id" id="classification_id" value="<%= Number(locals.classification_id) %>">
                  <!-- Add options dynamically here -->
                  <!-- selectOptions variable comes from the controller and has all the categories we can display -->

                  <%- classificationSelect %>
                </select>
              </div>
              <button class="button" type="submit" disabled="true">Update vehicle</button>
              <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
                <% } %>>
            </form>
          </div>
          <script src="../../js/inv-update.js"></script>